* {
  padding: 0;
  margin: 0;
}


#table {
  position: relative;
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  border: 4px double #fff;
  background: #75BCFF;
}

.row {display: flex;}

.col {
  background: #75BCFF;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
}

.addCol,
.addRow {
  background: #F5C000;
  width: 51px;
  height: 51px;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  transition: opacity 500ms ease;
}
.addCol {right: -56px;}
.addRow {bottom: -56px;}

#del-col,
#del-row {
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  display: none;
}

#del-col {top: -56px;}

#del-row {left: -56px;}

.del-row,
.del-col {
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  background: #9c0202;
  display: block;
  transition: opacity 500ms ease;
  visibility: hidden;
}


.addCol:hover,
.addRow:hover,
.del-row:hover,
.del-col:hover {
  opacity: 0.5;
  cursor: pointer;
}
